# AutoMLしたらDeepAR+の精度がよかったので、提出してみる

227.9716

# 関連時系列を使ったバージョン
fill指定して、relatedの影響でDeepAR+使われない現象を阻止

# Kaggle提出用ファイルを作成する

In [4]:
import boto3
import botocore

In [6]:
boto3.__version__

'1.20.23'

In [7]:
botocore.__version__

'1.22.5'

In [8]:
import pandas as pd

In [19]:
df = pd.DataFrame()
for i in range(12):
    print(i)
    df_tmp = pd.read_csv(f's3://work-kaggle-ohio/store-sales-time-series-forecasting/export_forecast_tgt_rlt_withfill_deepar_horizon16/export_forecast_tgt_rlt_withfill_deepar_horizon16_2022-01-21T06-14-47Z_part{i}.csv')
    df = pd.concat([df, df_tmp])

0
1
2
3
4
5
6
7
8
9
10
11

In [20]:
df['family'] = df['item_id'].str.upper()
df['date'] = df['date'].str[0:10]
df['sales'] = df['p50']

In [24]:
df

,item_id,date,store_nbr,p10,p50,p90,family,sales
0,bread/bakery,2017-08-16,2,505.901611,615.465637,705.354675,BREAD/BAKERY,615.465637
1,bread/bakery,2017-08-17,2,454.759583,534.511292,609.049072,BREAD/BAKERY,534.511292
2,bread/bakery,2017-08-18,2,517.063477,600.103271,715.006592,BREAD/BAKERY,600.103271
3,bread/bakery,2017-08-19,2,605.101196,705.632568,832.273010,BREAD/BAKERY,705.632568
4,bread/bakery,2017-08-20,2,641.724670,746.697388,871.435669,BREAD/BAKERY,746.697388
...,...,...,...,...,...,...,...,...
1611,deli,2017-08-27,43,331.415649,390.645630,453.357025,DELI,390.645630
1612,deli,2017-08-28,43,230.515945,286.936218,334.553253,DELI,286.936218
1613,deli,2017-08-29,43,239.176071,284.213470,324.737762,DELI,284.213470
1614,deli,2017-08-30,43,208.534836,255.581146,314.635315,DELI,255.581146
1615,deli,2017-08-31,43,193.325607,232.107086,279.472107,DELI,232.107086

In [25]:
df_test = pd.read_csv('../input/test.csv')

In [26]:
df_test

            id        date  store_nbr                      family  onpromotion
0      3000888  2017-08-16          1                  AUTOMOTIVE            0
1      3000889  2017-08-16          1                   BABY CARE            0
2      3000890  2017-08-16          1                      BEAUTY            2
3      3000891  2017-08-16          1                   BEVERAGES           20
4      3000892  2017-08-16          1                       BOOKS            0
...        ...         ...        ...                         ...          ...
28507  3029395  2017-08-31          9                     POULTRY            1
28508  3029396  2017-08-31          9              PREPARED FOODS            0
28509  3029397  2017-08-31          9                     PRODUCE            1
28510  3029398  2017-08-31          9  SCHOOL AND OFFICE SUPPLIES            9
28511  3029399  2017-08-31          9                     SEAFOOD            0

[28512 rows x 5 columns]

In [27]:
df_mrg = pd.merge(df_test, df, how='left', on=['date', 'store_nbr', 'family'])

In [28]:
df_mrg[['id' ,'sales']].to_csv('../submit/sub_forecast_tgt_rlt_withfill_deepar_horizon16.csv', index=False)